/* Palette: https://www.colourlovers.com/palette/92095/Giant_Goldfish */

body {
    margin: 0;
    background-color: #E0E4CC;
}

a {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

header {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    background-color: #A7DBD8;
    top: 0px;
}

.logo {
    width: 45vw;
}

#header-img {
    position: relative;
    left: 0%;
    background-color: #A7DBD8;
}

@media screen and (max-width: 600px) {
    #header-img {
        width: 160px;
    }
}

#nav-bar-list {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
    background-color: #A7DBD8;
    width: 55vw;
}

.nav-link {
    display: inline;
    margin-left: 32px;
    margin-right: 32px;
    padding: 32px;
}

@media screen and (max-width: 600px) {
    #nav-bar-list {
        display: block;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .nav-link {
        display: block;
        padding: 8px;
    }
}

#heading {
    font-family: 'Bree Serif', serif;
    font-size: xx-large;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 15px;
    background-color: #E0E4CC;
}

@media screen and (max-width: 600px) {
    #heading {
        font-size: x-large;
    }
}

h1 {
    padding-top: 20px;
}

#form {
    text-align: center;
    padding-bottom: 16px;
}

#email {
    padding: 16px 20px;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: center;
}

#submit {
    background-color: #FA6900;
    border-radius: 8px;
    color: #E0E4CC;
    font-family: 'Open Sans', sans-serif;
    margin: 4px;
    border: none;
    padding: 16px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

#submit:hover {
    background-color: #F38630;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#features-container {
    display: grid;
    grid-template-columns: 25% 65% 10%;
    background-color: #69D2E7;
}

#features-container p {
    font-family: 'Open Sans', sans-serif;
}

#features-container h2 {
    font-family: 'Bree Serif', serif;
}

#video-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

#top-icon {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    font-size: 300%;
    text-align: center;
    padding: 40px;
}

#mid-icon {
    grid-row: 3 / 5;
    grid-column: 1 / 2;
    font-size: 300%;
    text-align: center;
    padding: 40px;
}

#bot-icon {
    grid-row: 5 / 7;
    grid-column: 1 / 2;
    font-size: 300%;
    text-align: center;
    padding: 40px;
}

#feat-top-h {
    grid-row: 1;
    grid-column: 2 / 3;
}

#feat-top-p {
    grid-row: 2;
    grid-column: 2 / 3;
}

#feat-mid-h {
    grid-row: 3;
    grid-column: 2 / 3;
}

#feat-mid-p {
    grid-row: 4;
    grid-column: 2 / 3;
}

#feat-bot-h {
    grid-row: 5;
    grid-column: 2 / 3;
}

#feat-bot-p {
    grid-row: 6;
    grid-column: 2 / 3;
}

#pricing-container {
    display: grid;
    grid-template-columns: 14% 24% 24% 24% 14%;
    grid-template-rows: repeat(4, 25%);
    grid-template-areas:
        ". b-title-l b-title-c b-title-r ."
        ". b-price-l b-price-c b-price-r ."
        ". b-feats-l b-feats-c b-feats-r ."
        ". b-buttn-l b-buttn-c b-buttn-r .";
    background-color: #69D2E7;
    padding-bottom: 20px;
}

@media screen and (max-width: 640px) {
    #pricing-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas:
            "b-title-l"
            "b-price-l"
            "b-feats-l"
            "b-buttn-l"
            "b-title-c"
            "b-price-c"
            "b-feats-c"
            "b-buttn-c"
            "b-title-r"
            "b-price-r"
            "b-feats-r"
            "b-buttn-r";
    }
}

#pricing-container h2 {
    font-family: 'Bree Serif', serif;
}

#pricing-container h3 {
    font-family: 'Source Sans Pro', sans-serif;
}

#pricing-container ul {
    font-family: 'Open Sans', sans-serif;
}

#pricing-container button {
    background-color: #E0E4CC;
    border-radius: 8px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    margin: 4px;
    border: none;
    padding: 16px 20px;
    text-align: center;
    text-decoration: none;
    justify-self: center;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid black;
}

#pricing-container button:hover {
    background-color: #F38630;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#bass-title-left {
    grid-area: b-title-l;
    text-align: center;
    border-left: 2px solid #E0E4CC;
}

#bass-title-center {
    grid-area: b-title-c;
    text-align: center;
    border-left: 2px solid #E0E4CC;
}

#bass-title-right {
    grid-area: b-title-r;
    text-align: center;
    border-left: 2px solid #E0E4CC;
    border-right: 2px solid #E0E4CC;
}

#bass-price-left {
    grid-area: b-price-l;
    text-align: center;
    border-left: 2px solid #E0E4CC;
}

#bass-price-center {
    grid-area: b-price-c;
    text-align: center;
    border-left: 2px solid #E0E4CC;
}

#bass-price-right {
    grid-area: b-price-r;
    text-align: center;
    border-left: 2px solid #E0E4CC;
    border-right: 2px solid #E0E4CC;
}

#bass-features-left {
    grid-area: b-feats-l;
    list-style-type: none;
    border-left: 2px solid #E0E4CC;
}

#bass-features-center {
    grid-area: b-feats-c;
    list-style-type: none;
    border-left: 2px solid #E0E4CC;
}

#bass-features-right {
    grid-area: b-feats-r;
    list-style-type: none;
    border-left: 2px solid #E0E4CC;
    border-right: 2px solid #E0E4CC;
}

#bass-button-left {
    grid-area: b-buttn-l;
}

#bass-button-center {
    grid-area: b-buttn-c;
}

#bass-button-right {
    grid-area: b-buttn-r;
}

button {
    width: 50%;
    margin: auto;
}

footer {
    display: flex;
    height: 100px;
    font-family: 'Open Sans', sans-serif;
    background-color: #F38630;
}

footer p {
    display: inline;
    position: absolute;
    margin-top: 60px;
    right: 9%;
}

#footer-list {
    list-style-type: none;
    margin: 0%;
    margin-right: 10px;
    padding: 20px;
    position: absolute;
    right: 0%;
}

.footer-link {
    display: inline;
    padding: 50px;
}

#footer-p {
    font-size: 12px;
    position: absolute;
    right: 5%;
}